services:
  challenge-image:
    image: challenge-img
    container_name: challenge-container
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/selling_points_db
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "5005:5005"
    networks:
      - challenge-network
    depends_on:
      - redis
      - mongodb

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - challenge-network
    volumes:
      - redis_data:/data

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=selling_points_db
    networks:
      - challenge-network
    volumes:
      - mongodb_data:/data

networks:
  challenge-network:

volumes:
  redis_data:
  mongodb_data: